{% extends "web.html" %}

{% block content %}
<div class="container">
    <ul class="list-unstyled">
        <li class="media">
          <img src="/static/step.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1" style="font-family:Impact;">About</h5>
           <p style="font-family: Georgia; font-weight: 500;"> At first, Blockchain was mentioned (if it
was even mentioned) in the same breath
as Bitcoin. Possibly the biggest question
is, where does Bitcoin end and Blockchain
begin (or rather where does Blockchain end
and Bitcoin begin)? Perhaps the simplest
statement would be that Bitcoin would not
exist without Blockchain, but Blockchain
without Bitcoin still has a wide range
of uses, outreaching cryptocurrencies.
Whereas Bitcoin is a cryptocurrency
like (but not alike) Ethereum or Ripple,
Blockchain is the underlying technology
whose main underlying goal is very
similar to an operating system installed
on any computer. The basic term for
understanding how a Blockchain works
is grasping the definition of what P2P, or
Peer-to-Peer networks are. P2P refers
to computer networks that use dispersed
and distributed architecture, meaning that
all computers and devices have a certain
share in the network. Each device (referred
to as a peer) is equal to other peers, and no
central administrator of the network exists.
In general, this means that every resource
and data available in a P2P network is
shared between peers, skipping the need
for a central server. The main goal of this
network is to enable for the computers and
devices within to work collaboratively. Peerto-Peer networks are most commonly used
for sharing various files on the internet, allowing the peers in the network to receive
and send files simultaneously. Therefore,
what is the essential difference between
a P2P and a classic server? If you open
a website and download a file, for example
a tax return form, the website acts as
a gateway to a remote server and your
computer as a client receiving it. The whole
process works like a one way street where
information travels from only one point to
another. In the case of a P2P network, the
file is downloaded from pieces that come
from other peers in the network, already
possessing the file. Simultaneously, it is also
sent from your computer to other peers
that request it.Yet another problem is understanding
what is distributed ledger technology
(DLT). A distributed ledger is a record of
information, or a database that is spread
across a network. Access to a distributed
ledger can be unrestricted, meaning
that anyone can access the information
stored on it, or limited to a group of users.
Blockchain is just one type of distributed
ledger.</p>
          </div>
        </li>
        
      </ul>

</div>
{% endblock %}    