{% extends "web.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background: rgb(190,240,202);
    background: linear-gradient(90deg, rgba(190,240,202,1) 0%, rgba(150,239,245,1) 100%, rgba(146,249,244,0.2612395299916842) 100%, rgba(21,247,66,1) 100%, rgba(123,247,164,1) 100%);">
        <div class="container">
          <h1 class="display-4">TaxCrow</h1>
          <p class="lead">Pay the taxes here on whatever cause you want to pay.</p>
        </div>
      </div>
      
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Blockchain Taxing</h2>
        <p>Blockchain based tax systems are much more secure than normal taxing systems since the information is distributed and non hackable </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Security</h2>
        <p>Security is the prior concern by using blockchain technology since it provides 64 bit private key for any transaction to proceed</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Convenience</h2>
        <p>Convenience is one of the aspects of TaxCrow so that the user will not face any type of difficulty in using the system for taxing</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <ul class="list-unstyled">
        <li class="media">
          <img src="/static/blockchain.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Blockchain Intro</h5>
            Blockchain is a rapid growing technology in various field of science and technology. Blockchain is an immutable ledger or simply a linked list which is distributed and verified by every computer that is connected or a part of blockchain. It is distributed in  a peer to peer network .One of the famous blockchain application is bitcoin which is a cryptocurrency and used as alternative to standard money and transactions are maintained in blockchain. But that’s not blockchain is made for blockchain is a ledger which maintains the transactions not specifically for money but for the data we want to be highly secured and shareable to everyone. Blockchain data is encrypted first by a highly secured algorithm called sha256 algorithm which is a one way going algorithm and data cannot be translated back. 
          </div>
        </li>
        
      </ul>

</div>
{% endblock %}    