{% extends "web.html" %}

{% block content %}
<div class="container">
    <main role="main">

        <section class="jumbotron text-center" style="margin-top: 7%;">
          <div class="container">
            <h1>Transaction Successful</h1>
            <p class="lead text-muted">Your last transaction has been successfully proceed. <br> Please go back or return to login page.</p>
            <p>
              <a href="/login" class="btn btn-primary my-2">LOGIN PAGE</a>
              
            </p>
          </div>
        </section>
        </main>

</div>
{% endblock %}    